.header {
  position: relative;
}

.header,
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  .header-wrapper {
    width: 1280px;
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
  }

  .header-left {
    display: flex;
    align-items: center;
  }

  .logo-icon {
    max-width: 100%;
    height: auto;
  }

  .logo-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #35af58;
    margin-left: 12px;
  }

  .header-right {
    margin-left: auto;
  }
  .link-list {
  }
  .nav-link {
    padding: 4px;
    margin: 8px;
    display: inline;
  }

  .nav-link a {
    color: #a3a7b1;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-decoration: none;
  }

  .nav-link a.active {
    color: #353d54;
    font-weight: 600;
  }

  .mobile-menu {
    display: none;
  }

  @media screen and (max-width: 768px) {
    //do Smth
    .mobile-menu {
      display: block;
    }
    .link-list {
      display: none;
      background-color: white;
      border: solid 0.5px #dadada;
      box-shadow: 5px 5px #fafafa;
      &.active {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        position: absolute;
        right: 20px;
        text-align: right;
        padding: 8px;
      }
    }
  }

}
