.header {
  position: relative;
}

.header, .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap
}

.header-wrapper {
  width: 1280px;
	max-width: 100%;
	padding: 20px;
	margin: 0 auto;
}

.header-left {
  display: flex;
  align-items: center;
}

.logo-icon {
  max-width: 100%;
  height: auto;
}

.logo-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 42px;
  color: #35AF58;
  margin-left: 12PX;
}

.header-right {
  margin-left: auto;
}
.link-list {

}
.nav-link {
  padding: 4px;
  margin: 8px;
  display: inline;
}

.nav-link a {
  color: #A3A7B1;
  font-weight: 400;
  font-size: 28px;
  line-height: 42px;
  text-decoration: none;
}

.nav-link a.active {
  color: #353D54;
  font-weight: 600;
}
