.section-with-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 40px 0;
  padding: 40px 0;
  &.rtl {
    direction: rtl;
  }

  .section-right {
    display: flex;
    flex: 1 1 0;
  }

  .section-right img {
    max-width: 100%;
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    &.rtl {
      direction: unset;
    }
  }
}
