.featureWrap {
    display: flex;
    background-color: #19233d;
    position: relative;
    top: -114px;
    left: 0;
}

.featureHeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 0 60px;
    width: 67%;
}

.featureHeader {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.05em;
}

.featureSubtext {
    padding-top: 20px;
    color: #b5b9c1;
    line-height: 30px;
}

.featureImage {
    width: 33%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
